<section class="about-the-game-section" id="about-game">
  <div class="container about-the-game-container">
    <div class="about-the-game-content">
      <h2 class="about-the-game-title">About the Game</h2>
      <p class="about-the-game-text">
        Match & Design is a game that blends match-3 puzzles with interactive
        interior design. As players solve vibrant, strategic block puzzles, they
        earn rewards to decorate, renovate, and personalize virtual spaces.
        <br />Each design decision—whether choosing a sleek modern sofa or
        painting the walls in soft pastels—unlocks new emotional rewards. The
        gameplay is balanced for both casual fun and thoughtful challenge,
        making it perfect for players who love to relax and create.
      </p>
    </div>

    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          /img/about-the-game/about-the-game-desk-1x.webp 1x,
          /img/about-the-game/about-the-game-desk-2x.webp 2x
        "
      />
      <source
        media="(min-width: 320px)"
        srcset="
          /img/about-the-game/about-the-game-mob-1x.webp 1x,
          /img/about-the-game/about-the-game-mob-2x.webp 2x
        "
      />
      <img
        class="about-the-game-img"
        src="/img/about-the-game/about-the-game-desk-2x.webp"
        alt="about-the-game-desk"
        width="550"
        height="301"
        loading="lazy"
      />
    </picture>
  </div>
</section>
