<section class="contact-us" id="contact-us">
  <div class="contact-container">
    <h2 class="subtitle-contact">Contact Us</h2>
    <h3 class="subtitle-item-contact">We’d love to hear from you.</h3>
    <p class="contact-text">
      Whether you’re stuck on a level, want to suggest a feature, or found a
      visual bug in your favorite room—our team is here to help.
    </p>
    <img class="email" src="/img/email.png" alt="Email" />
    <h3 class="subtitle-item-contact">Email:</h3>
    <a href="mailto:info@designcavo.space">info@designcavo.space</a>
    <p class="contact-text">
      Support Hours: Monday to Friday, 9:00 – 18:00 (CET)
    </p>
    <p class="contact-text">We typically respond within 24–48 hours.</p>
  </div>
</section>
