<section class="contact-us" id="contact-us">
  <div class="contact-container">
    <h2 class="subtitle-contact">Contact Us</h2>
    <h3 class="subtitle-item-contact">We’d love to hear from you.</h3>
    <p class="contact-text">
      Whether you’re stuck on a level, want to suggest a feature, or found a
      visual bug in your favorite room—our team is here to help.
    </p>
    <span class="email-container">
      <picture class="email email-mobile-only">
        <source srcset="/img/contact/email.webp 2x" type="image/webp" />
        <img src="/img/contact/email.webp" alt="Email" loading="lazy" />
      </picture>
      <h3 class="subtitle-item-contact subtitle-email">Email:</h3></span
    >
    <a class="email-letter" href="mailto:info@designcavo.space"
      >info@designcavo.space</a
    >

    <picture class="email email-desktop-only">
      <source srcset="/img/contact/email.webp 2x" type="image/webp" />
      <img src="/img/contact/email.webp" alt="Email" loading="lazy" />
    </picture>
    <p class="contact-text">
      Support Hours: Monday to Friday, 9:00 – 18:00 (CET)
    </p>
    <p class="contact-text">We typically respond within 24–48 hours.</p>
  </div>
</section>
