<section class="contact-us" id="contact-us">
  <div class="contact-container">
    <h2 class="subtitle-contact">Contact Us</h2>
    <h3 class="subtitle-item-contact">We’d love to hear from you.</h3>
    <p class="contact-text">
      Whether you’re stuck on a level, want to suggest a feature, or found a
      visual bug in your favorite room—our team is here to help.
    </p>
    <span class="email-container">
      <img class="email email-mobile-only" src="/img/email.png" alt="Email" />
      <h3 class="subtitle-item-contact subtitle-email">Email:</h3></span
    >
    <a class="email-letter" href="mailto:info@designcavo.space"
      >info@designcavo.space</a
    >
    <img class="email email-desktop-only" src="/img/email.png" alt="Email" />
    <p class="contact-text">
      Support Hours: Monday to Friday, 9:00 – 18:00 (CET)
    </p>
    <p class="contact-text">We typically respond within 24–48 hours.</p>
  </div>
</section>
