<section class="design-modes" id="design-modes">
  <div class="design-modes-container container">
    <h2 class="design-title">Design Modes and Spaces</h2>
    <p class="design-subtitle">
      As you progress, you’ll unlock multiple design environments including:
    </p>

    <div class="swiper design-swiper" data-design-swiper>
      <ul class="swiper-wrapper design-card-list">
        <li class="swiper-slide design-card">
          <h2 class="design-card-title">Classic Home Makeovers <br />–</h2>
          <p class="design-card-text">
            Redesign traditional rooms with a modern touch.
          </p>
          <picture>
            <!-- Десктоп webp -->
            <source
              srcset="
                /img/design/design-1-1x.webp 1x,
                /img/design/design-1-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <!-- Мобілка webp -->
            <source
              srcset="
                /img/design/design-mob-1-1x.webp 1x,
                /img/design/design-mob-1-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <!-- Резервне зображення -->
            <img
              src="/img/design/design-1-2x.webp"
              alt="Classic Home Makeovers"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="swiper-slide design-card">
          <h2 class="design-card-title">Beach Villas <br />–</h2>
          <p class="design-card-text">
            Build sunny, relaxed interiors using tropical textures.
          </p>
          <picture>
            <!-- Десктоп webp -->
            <source
              srcset="
                /img/design/design-2-1x.webp 1x,
                /img/design/design-2-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <!-- Мобілка webp -->
            <source
              srcset="
                /img/design/design-mob-2-1x.webp 1x,
                /img/design/design-mob-2-2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <!-- Резервне зображення -->
            <img
              src="/img/design/design-2-2x.webp"
              alt="Beach Villas"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="swiper-slide design-card">
          <h2 class="design-card-title">Urban Lofts <br />–</h2>
          <p class="design-card-text">
            Add industrial elegance to city apartments.
          </p>
          <picture>
            <!-- Десктоп webp -->
            <source
              srcset="
                /img/design/design-3-1x.webp 1x,
                /img/design/design-3-2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />

            <!-- Мобілка webp -->
            <source
              srcset="
                /img/design/design-mob-3-1x.webp 1x,
                /img/design/design-mob-3-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <!-- Резервне зображення -->
            <img
              src="/img/design/design-3-2x.webp"
              alt="Urban Lofts"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="swiper-slide design-card">
          <h2 class="design-card-title">Garden Escapes <br />–</h2>
          <p class="design-card-text">
            Furnish patios, greenhouses, and cozy terraces.
          </p>
          <picture>
            <!-- Десктоп webp -->
            <source
              srcset="
                /img/design/design-4-1x.webp 1x,
                /img/design/design-4-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- Мобілка webp -->
            <source
              srcset="
                /img/design/design-mob-4-1x.webp 1x,
                /img/design/design-mob-4-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <!-- Резервне зображення -->
            <img
              src="/img/design/design-4-2x.webp"
              alt="Garden Escapes"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="swiper-slide design-card">
          <h2 class="design-card-title">Event-Themed Spaces <br />–</h2>
          <p class="design-card-text">
            Seasonal decor and holiday-themed rooms available during
            limited-time events.
          </p>
          <picture>
            <!-- Десктоп webp -->
            <source
              srcset="
                /img/design/design-5-1x.webp 1x,
                /img/design/design-5-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- Мобілка webp -->
            <source
              srcset="
                /img/design/design-mob-5-1x.webp 1x,
                /img/design/design-mob-5-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <!-- Резервне зображення -->
            <img
              src="/img/design/design-5-2x.webp"
              alt="Event-Themed Spaces"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="swiper-slide design-card">
          <h2 class="design-card-title">No two spaces feel the same –</h2>
          <p class="design-card-text">Your creativity defines each one.</p>
          <picture>
            <!-- Десктоп webp -->
            <source
              srcset="
                /img/design/design-6-1x.webp 1x,
                /img/design/design-6-2x.webp 2x
              "
              media="(min-width: 1200px)"
            />

            <!-- Мобілка webp -->
            <source
              srcset="
                /img/design/design-mob-6-1x.webp 1x,
                /img/design/design-mob-6-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <!-- Резервне зображення -->
            <img
              src="/img/design/design-6-2x.webp"
              alt="No two spaces feel the same"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
      <!-- <div class="design-arrows">
        <div class="swiper-button-prev">
          <svg
            class="icon-pagination-prev"
            width="7"
            height="16"
            fill="#b3b3b3"
          >
            <use href="/img/sprite.svg#icon-pagination"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="icon-pagination-next" width="7" height="16">
            <use href="/img/sprite.svg#icon-pagination"></use>
          </svg>
        </div>
      </div> -->
    </div>
  </div>
</section>
