<section class="design-modes" id="design-modes">
  <div class="design-modes-container container">
    <h2 class="design-title">Design Modes and Spaces</h2>
    <p class="design-subtitle">
      As you progress, you’ll unlock multiple design environments including:
    </p>

    <div class="swiper design-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide design-card">
          <img src="/img/design/design-1.png" alt="design-card" />
        </div>
        <div class="swiper-slide design-card">
          <img src="/img/design/design-2.png" alt="design-card" />
        </div>
        <div class="swiper-slide design-card">
          <img src="/img/design/design-3.png" alt="design-card" />
        </div>
        <div class="swiper-slide design-card">
          <img src="/img/design/design-4.png" alt="design-card" />
        </div>
        <div class="swiper-slide design-card">
          <img src="/img/design/design-5.png" alt="design-card" />
        </div>
        <div class="swiper-slide design-card">
          <img src="/img/design/design-6.png" alt="design-card" />
        </div>
      </div>
      <div class="design-arrows">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
