<section class="faq" id="faq">
  <div class="faq-container">
    <h2 class="subtitle-faq">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">Is Match & Design free to play?</li>
      <li class="faq-item">
        Do I need to be connected to the internet to play?
      </li>
      <li class="faq-item">How does the puzzle gameplay work?</li>
      <li class="faq-item">What can I decorate in the game?</li>
      <li class="faq-item">What types of rewards can I earn while playing?</li>
      <li class="faq-item">
        Can I change my design choices after I’ve selected them?
      </li>
      <li class="faq-item">How do I get more lives if I run out?</li>
      <li class="faq-item">Are there any multiplayer or social features?</li>
      <li class="faq-item">
        What makes Match & Design different from other match-3 games?
      </li>
      <li class="faq-item">How often is the game updated with new content?</li>
      <li class="faq-item">How can I contact support if I have an issue?</li>
    </ul>
  </div>
</section>
