<footer class="footer" id="footer">
  <div class="footer-container decor-box">
    <div class="footer-nav-link-container">
      <a class="footer-logo" href="./index.html" aria-label="Site logo">
        <img src="/img/logo.png" alt="logo" />
      </a>
      <ul class="footer-list">
        <li>
          <a class="footer-link" href="privacy-policy.html">Privacy Policy</a>
        </li>
        <li>
          <a class="footer-link" href="terms-and-conditions.html"
            >Terms and Conditions</a
          >
        </li>
        <li>
          <a class="footer-link" href="cookies-policy.html">Cookies Policy</a>
        </li>
      </ul>
    </div>
    <p class="footer-text">All rights reserved © 2025 designcavo.space</p>
  </div>
</footer>
