<section class="game-info" id="game-info">Game Info</section>

<div class="game-info-container">
  <h2 class="subtitle-game-info">Game Info</h2>
  <p class="game-info-text">Match & Design</p>
  <ul class="game-info-list">
    <li class="game-info-item">
      <h3 class="subtitle-item-game">Version:</h3>
      <p class="game-info-item-text">1.1.2</p>
    </li>
    <li class="game-info-item">
      <h3 class="subtitle-item-game">Platform:</h3>
      <p class="game-info-item-text">Android</p>
    </li>
    <li class="game-info-item">
      <h3 class="subtitle-item-game">Downloads:</h3>
      <p class="game-info-item-text">10,000+</p>
    </li>
    <li class="game-info-item">
      <h3 class="subtitle-item-game">Languages:</h3>
      <p class="game-info-item-text">English (more coming soon)</p>
    </li>
    <li class="game-info-item">
      <h3 class="subtitle-item-game">Updated:</h3>
      <p class="game-info-item-text">January 20, 2025</p>
    </li>
    <li class="game-info-item">
      <h3 class="subtitle-item-game">Minimum OS:</h3>
      <p class="game-info-item-text">Android 6.0</p>
    </li>
    <li class="game-info-item">
      <h3 class="subtitle-item-game">Data Privacy:</h3>
      <p class="game-info-item-text">
        No personal data shared with third parties
      </p>
    </li>
  </ul>
</div>
