<header class="header">
  <div class="container">
    <div class="wrapper">
      <nav class="nav">
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <img src="/img/logo.png" alt="logo" />
        </a>
        <ul class="nav-list">
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#hero"
              aria-label="Go to the Home section"
              data-mobile-menu-link
              >Home</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#about-game"
              aria-label="Go to the About section"
              data-mobile-menu-link
              >About</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#key-features"
              aria-label="Go to the Features section"
              data-mobile-menu-link
              >Features</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#how-the-game-works"
              aria-label="Go to the How It Works section"
              data-mobile-menu-link
              >How It Works</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#design-modes"
              aria-label="Go to the Design Modes section"
              data-mobile-menu-link
              >Design Modes</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#levels-and-puzzle"
              aria-label="Go to the Game Levels section"
              data-mobile-menu-link
              >Game Levels</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#visual-gallery"
              aria-label="Go to the Gallery section"
              data-mobile-menu-link
              >Gallery</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#tips-for-players"
              aria-label="Go to the Player Tips section"
              data-mobile-menu-link
              >Player Tips</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#faq"
              aria-label="Go to the FAQ section"
              data-mobile-menu-link
              >FAQ</a
            >
          </li>
          <li class="nav-item-desk">
            <a
              class="header-nav-link"
              href="#contact-us"
              aria-label="Go to the Contact section"
              data-mobile-menu-link
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <div class="button-container">
        <button
          class="burger-btn"
          data-menu-open
          data-visible="open"
          aria-label="Open mobile menu"
        >
          <svg class="icon-burger-menu" width="24" height="24">
            <use href="/img/sprite.svg#icon-Menu"></use>
          </svg>
        </button>
        <button
          type="button"
          class="mob-menu-close"
          data-menu-close
          data-visible="close"
          aria-label="Close mobile menu"
        >
          <svg class="icon-close" width="24" height="24">
            <use href="/img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <div data-modal data-visible="close" class="mobile-menu container">
      <nav class="mobile-nav">
        <ul class="mobail-nav-list">
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#hero"
              aria-label="Go to the Home section"
              data-mobile-menu-link
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#about-game"
              aria-label="Go to the About section"
              data-mobile-menu-link
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#key-features"
              aria-label="Go to the Features section"
              data-mobile-menu-link
              >Features</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#how-the-game-works"
              aria-label="Go to the How It Works section"
              data-mobile-menu-link
              >How It Works</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#design-modes"
              aria-label="Go to the Design Modes section"
              data-mobile-menu-link
              >Design Modes</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#levels-and-puzzle"
              aria-label="Go to the Game Levels section"
              data-mobile-menu-link
              >Game Levels</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#visual-gallery"
              aria-label="Go to the Gallery section"
              data-mobile-menu-link
              >Gallery</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#tips-for-players"
              aria-label="Go to the Player Tips section"
              data-mobile-menu-link
              >Player Tips</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#faq"
              aria-label="Go to the FAQ section"
              data-mobile-menu-link
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="header-nav-link mobile-menu-link"
              href="#contact-us"
              aria-label="Go to the Contact section"
              data-mobile-menu-link
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
