<section class="hero" id="hero">
  <div class="modal-cookies" data-modal-cookies>
    <h2 class="modal-cookies-title">Cookies Policy</h2>
    <p class="modal-cookies-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div>
      <button type="button" class="accept-cookies" id="acceptCookies">
        accept cookies
      </button>
      <button type="button" class="decline-cookies" id="declineCookies">
        decline cookies
      </button>
    </div>
  </div>
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-title">Welcome to <br />Match & Design</h1>
      <h2 class="hero-subtitle">Match Puzzles. <br />Design Dreams.</h2>
      <p class="hero-text">
        Step into a world where colorful challenges meet creative expression. In
        Match & Design, you’ll solve beautifully animated puzzles and use your
        progress to create stunning rooms. Combine your logic with your
        aesthetic eye and make each space truly your own. From cozy bedrooms to
        chic lofts, every match unlocks new possibilities for your dream home.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.triplematch.design.game&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
        class="hero-btn"
      >
        <img
          class="hero-btn-img"
          src="/img/hero-btn-play.png"
          alt="btn-google-play"
        />
        Google Play
      </a>
    </div>
    <div class="hero-image"></div>
  </div>
</section>
