<section class="how-the-game-works-section" id="how-the-game-works">
  <div class="how-the-game-works-container container">
    <h2 class="how-the-game-works-title">How the Game Works</h2>
    <div class="swiper how-the-game-works-swiper" data-game-section-swiper>
      <ul class="swiper-wrapper how-the-game-works-list">
        <li class="how-the-game-works-item swiper-slide">
          <div class="number one">1</div>
          <div class="how-the-game-works-box item-a">
            <h3 class="how-the-game-works-item-title">Match Blocks</h3>
            <p class="how-the-game-works-item-text">
              Solve match-3 puzzles by aligning 3 or more of the same tiles.
            </p>
          </div>
        </li>
        <li class="how-the-game-works-item swiper-slide">
          <div class="number two">2</div>
          <div class="how-the-game-works-box item-b">
            <h3 class="how-the-game-works-item-title">Earn Stars</h3>
            <p class="how-the-game-works-item-text">
              Every completed puzzle gives you stars used to unlock design
              actions.
            </p>
          </div>
        </li>
        <li class="how-the-game-works-item swiper-slide">
          <div class="number three">3</div>
          <div class="how-the-game-works-box item-c">
            <h3 class="how-the-game-works-item-title">Redecorate Spaces</h3>
            <p class="how-the-game-works-item-text">
              Choose between three decor styles for each item—your pick shapes
              the final look.
            </p>
          </div>
        </li>
        <li class="how-the-game-works-item swiper-slide">
          <div class="number four">4</div>
          <div class="how-the-game-works-box item-d">
            <h3 class="how-the-game-works-item-title">
              Progress Through Rooms
            </h3>
            <p class="how-the-game-works-item-text">
              Unlock kitchens, living rooms, outdoor patios, and more.
            </p>
          </div>
        </li>
        <li class="how-the-game-works-item swiper-slide">
          <div class="number five">5</div>
          <div class="how-the-game-works-box item-e">
            <h3 class="how-the-game-works-item-title">Collect Bonuses</h3>
            <p class="how-the-game-works-item-text">
              Special puzzle challenges and design tasks yield coins, boosters,
              and gifts.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="how-the-game-navigation">
      <button
        type="button"
        class="how-the-game-button-prev"
        aria-label="Previous image"
      >
        <svg width="32" height="17">
          <use href="img/sprite.svg#left-button"></use>
        </svg>
      </button>

      <button
        type="button"
        class="how-the-game-button-next"
        aria-label="Next image"
      >
        <svg width="32" height="17">
          <use href="img/sprite.svg#right-button"></use>
        </svg>
      </button>
    </div>
    <p class="how-the-game-works-text">
      Design success is about both vision and strategy—master both for the full
      experience.
    </p>
  </div>
</section>
