<section class="key-features-section" id="key-features">
  <div class="key-features-container container">
    <h2 class="key-features-title"> Key Features</h2>
    <ul>
      <li class="key-features-item">
        <img
          class="key-features-img"
          src="/img/key/1.png"
          alt="Hundreds of Puzzle Levels"
        />
        <div>
          <h3 class="key-features-item-title">Hundreds of Puzzle Levels</h3>
          <p class="key-features-item-text">
            Carefully crafted match-3 boards with increasing complexity.
          </p>
        </div>
      </li>
      <li class="key-features-item">
        <img
          class="key-features-img"
          src="/img/key/2.png"
          alt="Design-Driven Progression"
        />
        <div>
          <h3 class="key-features-item-title">Design-Driven Progression</h3>
          <p class="key-features-item-text">
            Each win earns you the chance to style a part of your home.
          </p>
        </div>
      </li>
      <li class="key-features-item">
        <img
          class="key-features-img"
          src="/img/key/3.png"
          alt="Custom Interiors"
        />
        <div>
          <h3 class="key-features-item-title">Custom Interiors</h3>
          <p class="key-features-item-text">
            Choose from a wide selection of furniture, wallpapers, floors, and
            decorations.
          </p>
        </div>
      </li>
      <li class="key-features-item">
        <img
          class="key-features-img"
          src="../img/key/4.png"
          alt="Narrative Arcs"
        />
        <div>
          <h3 class="key-features-item-title">Narrative Arcs</h3>
          <p class="key-features-item-text">
            Meet characters, discover renovation stories, and unlock themed
            design challenges.
          </p>
        </div>
      </li>
      <li class="key-features-item">
        <img
          class="key-features-img"
          src="/img/key/5.png"
          alt="Offline Friendly"
        />
        <div>
          <h3 class="key-features-item-title">Offline Friendly</h3>
          <p class="key-features-item-text">
            Play anywhere, anytime—no Wi-Fi needed.
          </p>
        </div>
      </li>
      <li class="key-features-item">
        <img
          class="key-features-img"
          src="/img/key/6.png"
          alt="Frequent Updates"
        />
        <div>
          <h3 class="key-features-item-title">Frequent Updates</h3>
          <p class="key-features-item-text">
            New puzzles and room themes added every few weeks.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
