<section class="levels-and-puzzle" id="levels-and-puzzle">
  <div class="levels-container container">
    <h2 class="levels-title">
      Levels <span class="levels-span">&</span> Puzzle Challenges
    </h2>
    <div class="levels-text-container">
      <h3 class="levels-subtitle">Match & Design</h3>
      <p class="levels-text">includes:</p>
    </div>

    <ul class="levels-list">
      <div class="levels-container-item">
        <li class="levels-item">
          <picture>
            <source
              srcset="
                /img/puzzle/puzzle-icon-1-1x.webp 1x,
                /img/puzzle/puzzle-icon-1-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="levels-item-image"
              src="/img/puzzle/puzzle-icon-1-2x.webp"
              alt="Levels & Puzzle Challenges"
              loading="lazy"
            />
          </picture>
          <p class="levels-item-text">
            Challenge levels with move restrictions and complex layouts
          </p>
        </li>
        <li class="levels-item">
          <picture>
            <source
              srcset="
                /img/puzzle/puzzle-icon-2-1x.webp 1x,
                /img/puzzle/puzzle-icon-2-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="levels-item-image"
              src="/img/puzzle/puzzle-icon-2-2x.webp"
              alt="Levels & Puzzle Challenges"
              loading="lazy"
            />
          </picture>
          <p class="levels-item-text">
            New mechanics like locked blocks, color bombs, and linked tiles
          </p>
        </li>
      </div>

      <div class="levels-container-item">
        <li class="levels-item">
          <picture>
            <source
              srcset="
                /img/puzzle/puzzle-icon-3-1x.webp 1x,
                /img/puzzle/puzzle-icon-3-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="levels-item-image"
              src="/img/puzzle/puzzle-icon-3-2x.webp"
              alt="Levels & Puzzle Challenges"
              loading="lazy"
            />
          </picture>
          <p class="levels-item-text">
            Streak rewards and puzzle-based mini-games
          </p>
        </li>
        <li class="levels-item">
          <picture>
            <source
              srcset="
                /img/puzzle/puzzle-icon-4-1x.webp 1x,
                /img/puzzle/puzzle-icon-4-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              class="levels-item-image"
              src="/img/puzzle/puzzle-icon-4-2x.webp"
              alt="Levels & Puzzle Challenges"
              loading="lazy"
            />
          </picture>
          <p class="levels-item-text">
            Difficulty progression that remains satisfying, not frustrating
          </p>
        </li>
      </div>

      <li class="levels-item">
        <picture class="levels-item-picture">
          <source
            srcset="
              /img/puzzle/puzzle-icon-5-1x.webp 1x,
              /img/puzzle/puzzle-icon-5-2x.webp 2x
            "
            type="image/webp"
          />
          <img
            class="levels-item-image"
            src="/img/puzzle/puzzle-icon-5-2x.webp"
            alt="Levels & Puzzle Challenges"
            loading="lazy"
          />
        </picture>
        <p class="levels-item-text">
          Challenge levels with move restrictions and complex layouts
        </p>
      </li>
    </ul>
    <p class="levels-text-end">
      Each level is designed to be winnable—but only the cleverest matches will
      unlock the rarest decor options.
    </p>
  </div>
</section>
