<section class="story-and-characters" id="story-and-characters">
  <div class="story-and-characters-container">
    <div class="story-text-container">
      <h2 class="subtitle-story-and-characters">Story & Characters</h2>
      <p class="story-and-characters-text">
        As you play, you’ll meet clients, neighbors, and quirky friends. Each
        chapter introduces a character with a unique background and design
        challenge:
      </p>
      <p
        class="story-and-characters-text desktop-only story-and-characters-text-desk"
      >
        Their stories unfold alongside your puzzle victories, adding charm and
        narrative depth to the gameplay.
      </p>
    </div>
    <div class="story-swiper mobile-only" data-story-swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <h2
            class="subtitle-story-and-characters subtitle-item-story-and-characters"
          >
            Emma<br />the Architect
          </h2>
          <p class="story-and-characters-text">
            Needs help restoring her grandmother’s estate
          </p>

          <picture>
            <source
              srcset="
                /img/story-characters/emma-1x.webp 1x,
                /img/story-characters/emma-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/story-characters/emma-2x.webp"
              alt="Emma the Architect"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <h2
            class="subtitle-story-and-characters subtitle-item-story-and-characters"
          >
            Luca<br />the Chef
          </h2>
          <p class="story-and-characters-text">
            Wants a vibrant kitchen to film his online cooking series
          </p>
          <picture>
            <source
              srcset="
                /img/story-characters/luka-1x.webp 1x,
                /img/story-characters/luka-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/story-characters/luka-2x.webp"
              alt="Luca the Chef"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide">
          <h2
            class="subtitle-story-and-characters subtitle-item-story-and-characters"
          >
            Maya &<br />Theo
          </h2>
          <p class="story-and-characters-text">
            First-time homeowners with clashing design tastes
          </p>

          <picture>
            <source
              srcset="
                /img/story-characters/maya-theo-1x.webp 1x,
                /img/story-characters/maya-theo-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/story-characters/maya-theo-2x.webp"
              alt="Maya & Theo"
              loading="lazy"
            />
          </picture>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>

    <p class="story-and-characters-text mobile-only">
      Their stories unfold alongside your puzzle victories, adding charm and
      narrative depth to the gameplay.
    </p>
    <div class="desk-container desktop-only">
      <ul class="story-list">
        <li class="story-item">
          <h2
            class="subtitle-story-and-characters subtitle-item-story-and-characters"
          >
            Emma<br />the Architect
          </h2>
          <p class="story-and-characters-text story-and-characters-text-item">
            Needs help restoring her grandmother’s estate
          </p>
          <picture>
            <source
              srcset="
                /img/story-characters/emma-1x.webp 1x,
                /img/story-characters/emma-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/story-characters/emma-2x.webp"
              alt="Emma the Architect"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="story-item">
          <h2
            class="subtitle-story-and-characters subtitle-item-story-and-characters"
          >
            Luca<br />the Chef
          </h2>
          <p class="story-and-characters-text story-and-characters-text-item">
            Wants a vibrant kitchen to film his online cooking series
          </p>
          <picture>
            <source
              srcset="
                /img/story-characters/luka-1x.webp 1x,
                /img/story-characters/luka-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/story-characters/luka-2x.webp"
              alt="Luca the Chef"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="story-item">
          <h2
            class="subtitle-story-and-characters subtitle-item-story-and-characters"
          >
            Maya &<br />Theo
          </h2>
          <p class="story-and-characters-text story-and-characters-text-item">
            First-time homeowners with clashing design tastes
          </p>
          <picture>
            <source
              srcset="
                /img/story-characters/maya-theo-1x.webp 1x,
                /img/story-characters/maya-theo-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/story-characters/maya-theo-2x.webp"
              alt="Maya & Theo"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
