<section class="tips-for-players" id="tips-for-players">
  <div class="tips-for-players-container container">
    <h2 class="subtitle-tips-for-players">Tips for Players</h2>

    <div class="swiper tips-for-players-swiper" data-tips-section-swiper>
      <ul class="swiper-wrapper tips-for-players-list">
        <li class="swiper-slide tips-for-players-item">
          <div class="number one">1</div>
          <div class="tips-for-players-box item-a">
            <p class="tips-for-players-item-text">
              Focus on clearing obstacles before creating combos.
            </p>
          </div>
        </li>
        <li class="tips-for-players-item swiper-slide">
          <div class="number two">2</div>
          <div class="tips-for-players-box item-b">
            <p class="tips-for-players-item-text">
              Try each decor option before confirming—some unlock special
              bonuses
            </p>
          </div>
        </li>
        <li class="tips-for-players-item swiper-slide">
          <div class="number three">3</div>
          <div class="tips-for-players-box item-c">
            <p class="tips-for-players-item-text">
              Log in daily for timed rewards and boosters
            </p>
          </div>
        </li>
        <li class="tips-for-players-item swiper-slide">
          <div class="number four">4</div>
          <div class="tips-for-players-box item-d">
            <p class="tips-for-players-item-text">
              Watch optional ads for extra coins or free lives
            </p>
          </div>
        </li>
        <li class="tips-for-players-item swiper-slide">
          <div class="number five">5</div>
          <div class="tips-for-players-box item-e">
            <p class="tips-for-players-item-text">
              Replay levels to collect missed stars and improve your design
              budget
            </p>
          </div>
        </li>
      </ul>
    </div>
    <p class="tips-for-players-text">
      Design success is about both vision and strategy—master both for the full
      experience.
    </p>
  </div>
</section>
