<section class="visual-gallery" id="visual-gallery">
  <div class="visual-gallery-container">
    <h2 class="subtitle-visual-gallery">Visual Gallery</h2>
    <p class="visual-gallery-text">Explore a sample of design outcomes:</p>
    <div class="gallery-swiper mobile-only" data-gallery-swiper>
      <div class="swiper-wrapper gallery-list">
        <div class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Featured player designs submitted in our monthly showcase
          </p>
          <picture>
            <source
              srcset="
                /img/visual-gallery/gal-1-1x.webp 1x,
                /img/visual-gallery/gal-1-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/visual-gallery/gal-1-2x.webp"
              alt="DECORATE IN STYLES!"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Dynamic lighting and interactive previews of furniture
          </p>

          <picture>
            <source
              srcset="
                /img/visual-gallery/gal-2-1x.webp 1x,
                /img/visual-gallery/gal-2-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/visual-gallery/gal-2-2x.webp"
              alt="SHOW YOUR TALENT!"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Before/After sliders of room makeovers
          </p>

          <picture>
            <source
              srcset="
                /img/visual-gallery/gal-3-1x.webp 1x,
                /img/visual-gallery/gal-3-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/visual-gallery/gal-3-2x.webp"
              alt="DESIGN DREAM ROOMS!"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Mood boards from current seasonal themes
          </p>

          <picture>
            <source
              srcset="
                /img/visual-gallery/gal-4-1x.webp 1x,
                /img/visual-gallery/gal-4-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/visual-gallery/gal-3-2x.webp"
              alt="Mood boards from current seasonal themes"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="gallery-navigation mobile-only">
      <button
        type="button"
        class="gallery-button-prev"
        aria-label="Previous image"
        data-gallery-button-prev
      >
        <svg width="32" height="17">
          <use href="img/sprite.svg#left-button"></use>
        </svg>
      </button>

      <button
        type="button"
        class="gallery-button-next"
        aria-label="Next image"
        data-gallery-button-next
      >
        <svg width="32" height="17">
          <use href="img/sprite.svg#right-button"></use>
        </svg>
      </button>
    </div>

    <div class="gallery-container-lisy-desk desktop-only">
      <ul class="gallery-list">
        <li class="gallery-item">
          <p class="gallery-text-item">
            Featured player designs submitted in our monthly showcase
          </p>
          <picture>
            <source
              srcset="
                /img/visual-gallery/gal-1-1x.webp 1x,
                /img/visual-gallery/gal-1-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/visual-gallery/gal-1-2x.webp"
              alt="DECORATE IN STYLES!"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-item">
          <p class="gallery-text-item">
            Dynamic lighting and interactive previews of furniture
          </p>
          <picture>
            <source
              srcset="
                /img/visual-gallery/gal-2-1x.webp 1x,
                /img/visual-gallery/gal-2-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/visual-gallery/gal-2-2x.webp"
              alt="SHOW YOUR TALENT!"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Before/After sliders of room makeovers
          </p>
          <picture>
            <source
              srcset="
                /img/visual-gallery/gal-3-1x.webp 1x,
                /img/visual-gallery/gal-3-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/visual-gallery/gal-3-2x.webp"
              alt="DESIGN DREAM ROOMS!"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Mood boards from current seasonal themes
          </p>
          <picture>
            <source
              srcset="
                /img/visual-gallery/gal-4-1x.webp 1x,
                /img/visual-gallery/gal-4-2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="/img/visual-gallery/gal-3-2x.webp"
              alt="Mood boards from current seasonal themes"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <p class="visual-gallery-text-subtitle">
      Whether you're into minimalist Scandinavian style or bold, maximalist
      color palettes—this game gives you the tools to visualize your taste.
    </p>
  </div>
</section>
