<section class="visual-gallery" id="visual-gallery">
  <div class="visual-gallery-container">
    <h2 class="subtitle-visual-gallery">Visual Gallery</h2>
    <p class="visual-gallery-text">Explore a sample of design outcomes:</p>
    <div class="gallery-swiper mobile-only">
      <div class="swiper-wrapper gallery-list">
        <div class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Featured player designs submitted in our monthly showcase
          </p>
          <img class="" src="/img/gal-mob-1.png" alt="DECORATE IN STYLES!" />
        </div>

        <div class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Dynamic lighting and interactive previews of furniture
          </p>
          <img class="" src="/img/gal-mob-2.png" alt="SHOW YOUR TALENT!" />
        </div>

        <div class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Before/After sliders of room makeovers
          </p>
          <img class="" src="/img/gal-mob-3.png" alt="DESIGN DREAM ROOMS!" />
        </div>
        <div class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Mood boards from current seasonal themes
          </p>
          <img
            class=""
            src="/img/gal-mob-4.png"
            alt="Mood boards from current seasonal themes"
          />
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
    <div class="gallery-navigation mobile-only">
      <button
        type="button"
        class="gallery-button-prev"
        aria-label="Previous image"
      >
        <svg width="32" height="17">
          <use href="img/sprite.svg#left-button"></use>
        </svg>
      </button>

      <button type="button" class="gallery-button-next" aria-label="Next image">
        <svg width="32" height="17">
          <use href="img/sprite.svg#right-button"></use>
        </svg>
      </button>
    </div>

    <div class="gallery-container-lisy-desk desktop-only">
      <ul class="gallery-list">
        <li class="gallery-item">
          <p class="gallery-text-item">
            Featured player designs submitted in our monthly showcase
          </p>
          <img class="" src="/img/gal-desk-1.png" alt="DECORATE IN STYLES!" />
        </li>
        <li class="gallery-item">
          <p class="gallery-text-item">
            Dynamic lighting and interactive previews of furniture
          </p>
          <img class="" src="/img/gal-desk-2.png" alt="SHOW YOUR TALENT!" />
        </li>
        <li class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Before/After sliders of room makeovers
          </p>
          <img class="" src="/img/gal-desk-3.png" alt="DESIGN DREAM ROOMS!" />
        </li>
        <li class="swiper-slide gallery-item">
          <p class="gallery-text-item">
            Mood boards from current seasonal themes
          </p>
          <img
            class=""
            src="/img/gal-desk-4.png"
            alt="Mood boards from current seasonal themes"
          />
        </li>
      </ul>
    </div>
    <p class="visual-gallery-text-subtitle">
      Whether you're into minimalist Scandinavian style or bold, maximalist
      color palettes—this game gives you the tools to visualize your taste.
    </p>
  </div>
</section>
