body {
  font-family: 'Joti One', sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #fff2de;
  scroll-behavior: smooth;
}
h1 {
  color: #f8f8f8;
}

h2 {
  color: #2c0c66;
}

p {
  font-family: 'Itim', sans-serif;
  color: #4a4458;
}
