.design-modes {
  padding-top: 32px;
  padding-bottom: 61px;
  text-align: center;
  position: relative;
  scroll-margin-top: 40px;
}

.design-title {
  font-family: 'Joti One', sans-serif;
  font-size: 32px;
  letter-spacing: -0.04em;
  width: 250px;
  color: #2c0c66;
  margin: 0 auto;
  margin-bottom: 13px;
}

.design-subtitle {
  font-family: 'Itim', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;

  color: #1e1e1e;
  margin-bottom: 23px;
}

.design-card {
  border-radius: 25px;
  padding: 20px 10px;
  width: 286px;
  /* height: 295px; */
  box-shadow: 2px 2px 4px 0 rgba(44, 12, 102, 0.15);
  background: #fff1c2;
  margin: auto;
}
.design-card.swiper-slide {
  padding: 20px 10px;
}
.design-card-title {
  font-size: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #2c0c66;
  margin-bottom: 8px;
}
.design-card-text {
  font-size: 14px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 8px;
}
.swiper-slide.design-card img {
  max-width: 266px;
  height: auto;
  margin: 0 auto;
}
.swiper-wrapper {
  display: flex;
}

.design-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;
}
.icon-pagination-prev {
  transform: scaleX(-1);
}
.swiper-button-prev:hover,
.swiper-button-prev:focus .icon-pagination-prev {
  fill: #2c0c66;
}

.swiper-button-next:hover,
.swiper-button-next:focus .icon-pagination-next {
  fill: #2c0c66;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.design-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;
}
.design-button-prev {
  fill: #1e1e1e;
  border: none;
  background: transparent;
  padding: 0;
}
.design-button-next {
  fill: #1e1e1e;
  border: none;
  background: transparent;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .design-modes {
    padding-top: 100px;
    padding-bottom: 100px;
    scroll-margin-top: 74px;
  }
  .design-modes-container {
    width: 1200px;
  }
  .design-navigation {
    display: none;
  }
  .design-title {
    font-size: 64px;
    width: 100%;
    margin-bottom: 25px;
  }

  .design-subtitle {
    font-size: 24px;
    margin-bottom: 116px;
  }
  .swiper-wrapper.design-card-list {
    display: flex;
    flex-wrap: wrap; /* або wrap, якщо хочеш перенос */
    gap: 92px;
    justify-content: center;
  }
  .swiper-slide.design-card img {
    max-width: 433px;
    height: auto;
    margin: 0 auto;
  }
  .design-card-title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .design-card-text {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .design-card.swiper-slide {
    width: 473px;
  }
  .how-the-game-works-swiper {
    overflow: visible;
  }
  .design-card.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 594px;
  }
}
