.design-modes {
  padding-top: 32px;
  padding-bottom: 61px;
  text-align: center;
  position: relative;
}

.design-title {
  font-family: 'Joti One', sans-serif;
  font-size: 32px;
  color: #2c0c66;
  margin-bottom: 13px;
}

.design-subtitle {
  font-family: 'Itim', sans-serif;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 23px;
}

.design-card {
  border-radius: 25px;
  padding: 20px 10px;
  width: 286px;
  /* height: 295px; */
  box-shadow: 2px 2px 4px 0 rgba(44, 12, 102, 0.15);
  background: #fff1c2;

  margin: auto;
}

.swiper-wrapper {
  display: flex;
}
/* 
.design-arrows {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
} */

.swiper-button-prev,
.swiper-button-next {
  position: absolute; /* зробити кнопки абсолютними */
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: #2c0c66;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
}
