.footer {
  background-color: #0d0025;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 2px solid #bf6a02;
  width: 100%;
}

.footer-container {
  margin: 0 auto;
  padding: 13.5px 0;
}
.footer-nav-link-container {
  margin-bottom: 5px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center; /* Щоб по вертикалі теж центрувалося, якщо треба */
  width: 100%; /* Або фіксована ширина, наприклад 100px */
  margin-bottom: 13px;
}

.footer-logo img {
  width: 16px;
  height: 16px;
  display: block; /* Щоб прибрати зайвий відступ у img */
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #fbbc04;
  display: flex;
  justify-content: center;
}
.footer-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 2.4;
  letter-spacing: 0.02em;
  color: #fbbc04;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    padding: 52px 156px 35px 72px;
    max-width: 1200px;
  }
  .footer-nav-link-container {
    display: flex;
    margin-bottom: 32px;
  }
  .footer-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    margin-right: 60px;
  }
  .footer-logo img {
    width: 50px;
    height: 50px;
  }
  .footer-list {
    display: flex;
    flex-direction: row;
    gap: 76px;
    justify-content: center;
  }
  .footer-link {
    font-size: 28px;
    line-height: 0.85714;
    margin-bottom: 0px;
  }
  .footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
}
