.game-info {
  background-image: url('/img/game-info_mob.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.game-info-container {
  max-width: 320px;
  margin: 0 auto;
}

.subtitle-game-info {
  margin-bottom: 24px;
  font-size: 32px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
}

.game-info-text {
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #ffe958;
  margin-bottom: 22px;
}

.game-info-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.game-info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.game-info-list--desk {
  display: none;
}

.game-info-item {
  background-image: url('/img/babl-game.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 8px;
  width: 122px;
  height: 81px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle-item-game {
  font-size: 14px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ffe958;
  margin: 0;
}

.game-info-item-text {
  font-size: 14px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .game-info {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('/img/game-info-1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .game-info-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .game-info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .game-info-item:nth-child(1) {
    margin-right: 40px;
  }
  .game-info-item:nth-child(2) {
    margin-right: 40px;
  }
  .game-info-item:nth-child(4) {
    margin-right: 401px;
  }
  .game-info-item:nth-child(6) {
    margin-right: 46px;
  }
  .subtitle-game-info {
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: center;
    color: #ffe958;
    margin-bottom: 69px;
  }
  .game-info-text {
    position: absolute;
    font-size: 72px;
    width: 335px;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
  }
  .subtitle-item-game {
    font-size: 24px;
  }
  .game-info-item-text {
    font-size: 24px;
  }

  .game-info-item {
    background-image: url('/img/babl-game-desk.png');
    width: 229px;
    height: 197px;
  }
}
