.tips-for-players {
  padding-top: 16px;
  padding-bottom: 33px;
  background-image: url('/img/tips/tips-1x.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-margin-top: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tips-for-players {
    background-image: url('/img/tips/tips-2x.webp');
  }
}
.tips-for-players-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;
  position: absolute;
  gap: 267px;
  top: 43%;
  left: 50%;
  transform: translate(-50%);
}
.tips-for-players-button-prev {
  fill: #1e1e1e;
  border: none;
  background: transparent;
  padding: 0;
}
.tips-for-players-button-next {
  fill: #1e1e1e;
  border: none;
  background: transparent;
  padding: 0;
}
.tips-for-players-container {
  margin: 0 auto;
  max-width: 320px;
}
.subtitle-tips-for-players {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #2c0c66;
  margin-bottom: 18px;
}
.tips-for-players-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
[data-tips-section-swiper] .swiper-slide {
  padding: 0 !important;
}
.tips-for-players-item .number {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.number.one {
  background-color: var(--number-one-color);
}
.number.one::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--number-one-color);
  width: 105px;
}
.number.two {
  background-color: var(--number-two-color);
}
.number.two::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--number-two-color);
  width: 105px;
}

.number.three {
  background-color: var(--number-three-color);
}
.number.three::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--number-three-color);
  width: 105px;
}
.number.four {
  background-color: var(--number-four-color);
}
.number.four::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--number-four-color);
  width: 105px;
}
.number.five {
  background-color: var(--number-five-color);
}
.number.five::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--number-five-color);
  width: 105px;
}
.tips-for-players-box {
  border-radius: 5px;
  padding: 10px;
  width: 127px;
  height: 104px;
  box-shadow: 2px 2px 4px 0 rgba(44, 12, 102, 0.25);
  background: #fffbeb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-a {
  border: 3px solid var(--number-one-color);
}
.item-b {
  border: 3px solid var(--number-two-color);
}
.item-c {
  border: 3px solid var(--number-three-color);
}
.item-d {
  border: 3px solid var(--number-four-color);
}
.item-e {
  border: 3px solid var(--number-five-color);
}

.tips-for-players-item-text {
  font-size: 14px;
  letter-spacing: -0.04em;
  color: #1e1e1e;
  opacity: 0.5;
  text-align: left;
}

.tips-for-players-text {
  font-family: 'Joti One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #2c0c66;
  margin-top: 43px;
}

@media screen and (min-width: 1200px) {
  .tips-for-players {
    padding-top: 100px;
    padding-bottom: 100px;
    scroll-margin-top: 74px;
    background-image: url('/img/tips/tips-2x.webp');
  }
  .tips-for-players-container {
    max-width: 1200px;
  }
  .swiper-wrapper.tips-for-players-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .subtitle-tips-for-players {
    font-size: 64px;
  }
  .tips-for-players-item.swiper-slide {
    width: 310px;
  }
  .tips-for-players-swiper {
    overflow: visible;
  }
  .tips-for-players-box {
    width: 310px;
    padding: 32px;
    height: 151px;
    border-radius: 25px;
  }
  .tips-for-players-item-title {
    font-size: 40px;
    letter-spacing: -0.04em;
  }
  .tips-for-players-item-text {
    font-size: 24px;
    letter-spacing: -0.04em;
  }
  .tips-for-players-item .number {
    width: 82px;
    height: 82px;
    font-size: 28px;
  }
  .number.one::after,
  .number.two::after,
  .number.three::after,
  .number.four::after,
  .number.five::after {
    background: #2c0c66;
    width: 298px;
  }
  .tips-for-players-text {
    font-size: 24px;
  }
}
